@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root, .white {
    --background: #ffffff;
    --foreground: #18181b;
    --card: #f4f4f5;
    --card-foreground: #18181b;
    --popover: #ffffff;
    --popover-foreground: #18181b;
    --primary: #18181b;
    --primary-foreground: #fafafa;
    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --accent: #f4f4f5;
    --accent-foreground: #18181b;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #d4d4d8;
    --radius: 0.5rem;
  }
  
  .dark {
    --background: #09090b;
    --foreground: #ffffff;
    --card: #18181b;
    --card-foreground: #ffffff;
    --popover: #09090b;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #18181b;
    --secondary: #27272a;
    --secondary-foreground: #fafafa;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --accent: #27272a;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #27272a;
    --input: #27272a;
    --ring: #27272a;
  }

  .gray {
    --background: #3f3f46;
    --foreground: #ffffff;
    --card: #52525b;
    --card-foreground: #ffffff;
    --popover: #3f3f46;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #18181b;
    --secondary: #52525b;
    --secondary-foreground: #fafafa;
    --muted: #52525b;
    --muted-foreground: #d4d4d8;
    --accent: #52525b;
    --accent-foreground: #fafafa;
    --destructive: #991b1b;
    --destructive-foreground: #fafafa;
    --border: #71717a;
    --input: #71717a;
    --ring: #71717a;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}